@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin font-weight($weight) {
  font-weight: map-get($fontWeights, $weight);
}

@mixin line-height($height) {
    line-height: map-get($lineHeights, $height);
}

@mixin font-size($size) {
    font-size: map-get($fontSizes, $size);
}


