@import "~@angular/material/theming";

$cloudapp-blue: (50: #e2eff7,
  100: #d7f1ff,
  200: #87bddd,
  300: #56a3cf,
  400: #009ccb,
  500: #0e7bba,
  600: #0c73b3,
  700: #0a68ab,
  800: #1c608f,
  900: #044b94,
  A100: #bfdbff,
  A200: #8cbeff,
  A400: #59a2ff,
  A700: #4093ff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000));

$cloudapp-charcoal: (50: #e9e9e9,
  100: #d5dee0,
  200: #a4a4a4,
  300: #808080,
  400: #6a7375,
  500: #494949,
  600: #424242,
  700: #393939,
  800: #272727,
  900: #212121,
  A100: #f17d7d,
  A200: #eb4f4f,
  A400: #ff0808,
  A700: #ee0000,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff));

$cloudapp-dark-blue: (50: #e2e2ec,
  100: #e2defc,
  200: #8588b0,
  300: #545890,
  400: #3f1fec,
  500: #0b1061,
  600: #0a0e59,
  700: #080c4f,
  800: #080b43,
  900: #030533,
  A100: #6b70ff,
  A200: #383fff,
  A400: #050dff,
  A700: #0008eb,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff));


$cloudapp-dark-brown: (50: #ece2e2,
  100: #f2dde0,
  200: #b08586,
  300: #905455,
  400: #a51c30,
  500: #610b0c,
  600: #590a0a,
  700: #4f0808,
  800: #4a090a,
  900: #330303,
  A100: #ff6b6b,
  A200: #ff3838,
  A400: #ff0505,
  A700: #eb0000,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff));

$cloudapp-gold: (50: #f3eee0,
  100: #ffebb4,
  200: #ccb780,
  300: #b89a4d,
  400: #b0871b,
  500: #996f00,
  600: #916700,
  700: #865c00,
  800: #785804,
  900: #6b4000,
  A100: #ffcf9a,
  A200: #ffb767,
  A400: #ff9f34,
  A700: #25221e,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000));

$cloudapp-green: (50: #e4ece4,
  100: #d8ffd7,
  200: #8daf8f,
  300: #5f8e62,
  400: #1f7825,
  500: #1a5e1f,
  600: #17561b,
  700: #134c17,
  800: #0f4c14,
  900: #08310a,
  A100: #6bff70,
  A200: #38ff3f,
  A400: #05ff0d,
  A700: #00eb08,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000));

$cloudapp-maroon: (50: #f3e0e0,
  100: #f3e3af,
  200: #cc8080,
  300: #b84d4d,
  400: #d0b77e,
  500: #9a0000,
  600: #910000,
  700: #860000,
  800: #7b0000,
  900: #6b0000,
  A100: #ff9a9a,
  A200: #ff6767,
  A400: #ff3434,
  A700: #ff1a1a,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff));

$cloudapp-new-blue: (50: #e2e4f8,
  100: #e0e8ff,
  200: #8691e2,
  300: #5564d6,
  400: #2d64fd,
  500: #0c22c5,
  600: #0a1ebf,
  700: #0819b8,
  800: #0a1b9e,
  900: #030ca3,
  A100: #cecfff,
  A200: #9b9dff,
  A400: #686cff,
  A700: #4e53ff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff));

$cloudapp-orange: (50: #f9eae0,
  100: #fae5d7,
  200: #e5a880,
  300: #da854d,
  400: #d06e2a,
  500: #ca5100,
  600: #c54a00,
  700: #bd4000,
  800: #ab4907,
  900: #ab2700,
  A100: #ffdbd4,
  A200: #ffb0a1,
  A400: #ff856e,
  A700: #ff7055,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000));

$cloudapp-purple: (50: #e9e3f1,
  100: #eeddfe,
  200: #a589c6,
  300: #805aaf,
  400: #7119db,
  500: #4a138c,
  600: #431184,
  700: #3a0e79,
  800: #340171,
  900: #22065c,
  A100: #ac8eff,
  A200: #875bff,
  A400: #6128ff,
  A700: #4e0fff,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff));

$cloudapp-red: (50: #f8e5e5,
  100: #ffe6df,
  200: #e39393,
  300: #d76867,
  400: #ea4f1f,
  500: #c62726,
  600: #c02322,
  700: #b91d1c,
  800: #ab2120,
  900: #a40e0d,
  A100: #ffd3d3,
  A200: #ffa0a0,
  A400: #ff6d6d,
  A700: #ff5353,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000));


$cloudapp-denim_blue: (50 : #e2e7eb,
  100 : #e5eefa,
  200 : #869aae,
  300 : #56718d,
  400 : #315897,
  500 : #0d345c,
  600 : #0b2f54,
  700 : #09274a,
  800 : #002245,
  900 : #031530,
  A100 : #6996ff,
  A200 : #3673ff,
  A400 : #034fff,
  A700 : #0046e8,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));


$cloudapp-pine_green: (50 : #e0eae9,
  100 : #d9eae9,
  200 : #80a6a3,
  300 : #4d827e,
  400 : #008173,
  500 : #004d46,
  600 : #00463f,
  700 : #003d37,
  800 : #003e38,
  900 : #002520,
  A100 : #60ffe3,
  A200 : #2dffda,
  A400 : #00f9ce,
  A700 : #00e0b9,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));


$cloudapp-teal_green: (50 : #e0eded,
  100 : #d9f0f0,
  200 : #80b3b3,
  300 : #4d9494,
  400 : #009999,
  500 : #006666,
  600 : #005e5e,
  700 : #005353,
  800 : #005252,
  900 : #003838,
  A100 : #6effff,
  A200 : #3bffff,
  A400 : #08ffff,
  A700 : #00eeee,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));


$cloudapp-cerise: (50 : #f5e2ea,
  100 : #f7e0e7,
  200 : #d586a7,
  300 : #c45584,
  400 : #dd2c5e,
  500 : #aa0c4f,
  600 : #a30a48,
  700 : #99083f,
  800 : #005252,
  900 : #7f0326,
  A100 : #ffadbe,
  A200 : #ff7a96,
  A400 : #ff476e,
  A700 : #ff2d5a,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  ));



$cloudapp-violet: (50 : #ede0ed,
  100 : #f7e8f0,
  200 : #b380b3,
  300 : #944d94,
  400 : #7119db,
  500 : #660066,
  600 : #5e005e,
  700 : #530053,
  800 : #480048,
  900 : #380038,
  A100 : #ff6eff,
  A200 : #ff3bff,
  A400 : #ff08ff,
  A700 : #ee00ee,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));



$cloudapp-brown: (50 : #eae9e8,
  100 : #f4e9df,
  200 : #a9a3a0,
  300 : #877e7a,
  400 : #87735e,
  500 : #534741,
  600 : #4c403b,
  700 : #423732,
  800 : #423934,
  900 : #29201c,
  A100 : #ff9871,
  A200 : #ff733e,
  A400 : #ff4e0b,
  A700 : #f14200,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  ));