body[class*=cloudapp-theme]
{
  margin-top: 10px;

  h1 {
    font-size: 18px;
    font-weight: 500;
    color: #474747;
  }
  h2,
  .mat-card-title {
    font-size: 16px;
    font-weight: 400;
    color: #5e5e5e;
  }
  h3,
  .mat-expansion-panel-header-title {
    font-size: 14px;
    font-weight: 400;
    color: #5e5e5e;
  } 
  .mat-tab-body {
    margin-top: 10px;
  }
  &,
  .mat-checkbox-label,
  .mat-select-value-text,
  .mat-label,
  .mat-list-item-content,
  .mat-expansion-panel-body,
  .mat-card-content {
    font-size: 14px;
    font-weight: 300;
    color: #5e5e5e;
    line-height: 1.3em;
  }
  a {
    color: #4164a4
  }
  .mat-secondary {
    background-color: #f2f2f2;
  }
  .mat-secondary:hover {
    background-color: #d5d5d5;
  }
  .mat-checkbox {
    margin: 3px 0 12px;
  }
  .mat-card-header-text {
    margin-left: 0;
  }
  .mat-card-actions {
    display: flex;
  }  
  /* Top align checkbox */
  .mat-checkbox .mat-checkbox-inner-container {
    margin: 2px 8px auto 0;
  }
  /* Responsively wrap label in checkbox */
  .mat-checkbox-label {
    white-space: normal;
    line-height: 1.3em;
    padding-right: 7px;
  }
  /* Spacing in list */
  .mat-list-base .mat-list-item {
    padding-bottom: 5px;
    height: unset;
  }
  /* Buttons */
  i.eca-button,
  i.cloudapp-button {
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    &:hover {
      background-color: #E5E5E5;
    }
    &:first-of-type {
      margin-left: auto;
    }
  }
  /* List buttons */
  .mat-list-item {
    i.eca-button,
    i.cloudapp-button {
      visibility: hidden;
    }
    &:hover i.eca-button,
    &:hover i.cloudapp-button {
      visibility: visible;
    }
  }
  div.cloudapp-actions,
  div.eca-actions {
    display:flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }
  div.cloudapp-actions button,
  div.eca-actions button {
    margin-left: 7px;
  }
  .loading-shade {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer {
    position: fixed;
    bottom: 0px;
    background-color: #E5E5E5;
    width: 100%;
    height: 38px;
    padding: 5px;
    vertical-align: middle;
    line-height: 38px;
  }
}