
// @import "~reset-css/sass/reset";
@import "~normalize.css/normalize.css";

html {
  background: #fff;
  font-family: "Roboto", sans-serif;
}

a {
  color: #4164a4;
  text-decoration: none;
}

a:hover {
  color: #1b3c72;
}

@import "~@angular/material/theming";
@import url("//fonts.googleapis.com/icon?family=Material+Icons");
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900,regular,bold");

@import "./scss/locals";
@import "./style-variables.scss";
@import "./theming/main.scss";

@include mat-core();

$primary: mat-palette($mat-blue, 500);
$accent: mat-palette($mat-blue, 500, A200, A400);
$warn: mat-palette($mat-blue, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$config: mat-typography-config();

body, body.mat-typography {
  font-family: mat-font-family($config);
  font-weight: $normal-font-weight;
  font-size: $normal-font-size;
  padding: 5px;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: $bold-font-weight;
  font-family: mat-font-family($config);
  color: black;
}

mark {
  padding: 0;
  color: #000;
  background-color: #fcf8e3;
}

.mat-menu-content:not(:empty) {
  padding: 0 !important;
}

.cdk-overlay-pane {
  transform: none !important;
}

.mat-menu-panel {
  border-radius: 0 0 4px 4px !important;
}

.mat-expansion-panel-body {
  padding: 0 24px 15px !important;
}

.mat-tooltip {
  font-size: 12px !important;
  max-width: 200px !important;
  text-align: center !important;
}

.multi-line-tooltip {
  white-space: pre-line !important;
}

.mat-button {
  line-height: 32px !important;
  padding: 0 10px !important;
}

.mat-checkbox .mat-checkbox-frame {
  border-width: 1px !important;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(215, 215, 215);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(190, 190, 190);
}

@import '~ngx-toastr/toastr.css';
