$white: white;
$black: black;
$blue: blue;
$red: red;
$yellow: yellow;
$darkslategray: darkslategray;

$dark-blue: #4164a4;
$primary-blue: #0e7bba;
$link-color: #4164a4;
$hover-link-color: #1b3c72;
$dark-link-color: #1b3c72;
$pageBackground: #f2f2f2;

$icons-gray: #535353;
$border-gray: #ccc;
$buttons-gray: #777;
$remove-btn-gray: #a7a7a7;
$page-title-gray: #808080;
$page-sub-title-gray: #868686;
$button-off-white: #e5e5e5;
$button-blue: #0e7bba;
$price-red: #df3e0c;
$icon-green: #2eb82e;
$success-light-green: #ebfadd;
$success-dark-green: #63bd4c;

$light-gray: #f6f6f6;
$gray: #ebebeb;
$light-blue: #7da7d9;
$light-orange: #f69679;
$blue-gray: #f0f5f8;
