$fontWeights: (
  regular: 300,
  semi-bold: 400,
  bold: 500,
  extra-bold: 800
) !default;

.regular-weight {
  font-weight: map-get($fontWeights, regular) !important;
}

.semi-bold-weight {
  font-weight: map-get($fontWeights, semi-bold) !important;
}

.bold-weight {
  font-weight: map-get($fontWeights, bold) !important;
}

.extra-bold-weight {
  font-weight: map-get($fontWeights, extra-bold) !important;
}

$lineHeights: (
  light: 12px,
  regular: 14px,
  medium: 16px,
  large: 18px,
  extra-large: 25px
) !default;

.light-height {
  line-height: map-get($lineHeights, light) !important;
}

.regular-height {
  line-height: map-get($lineHeights, regular) !important;
}

.medium-height {
  line-height: map-get($lineHeights, medium) !important;
}

.large-height {
  line-height: map-get($lineHeights, large) !important;
}

.extra-large-height {
  line-height: map-get($lineHeights, extra-large) !important;
}

$fontSizes: (
  light: 12px,
  regular: 14px,
  medium: 16px,
  large: 18px,
  icon-size: 20px,
  extra-large: 25px
) !default;

.light {
  font-size: map-get($fontSizes, light) !important;
}

.regular {
  font-size: map-get($fontSizes, regular) !important;
}

.medium {
  font-size: map-get($fontSizes, medium) !important;
}

.large {
  font-size: map-get($fontSizes, large) !important;
}

.icon-size {
  font-size: map-get($fontSizes, icon-size) !important;
}

.extra-large {
  font-size: map-get($fontSizes, extra-large) !important;
}
